.vision {
  background-color: #e6e6e6;
  border-radius: 15px;
  text-align: center;
  text-justify: auto;
  font-size: 20px;
  top: 30px;
}


.navbar-brand {
  border: solid #646262;
  border-radius: 15%;
}

.boton1 {
  border: solid #660708;
  text-align: center;
  margin-left: 47%;
  margin-right: 47%;
  margin-top: 5%;
  padding: 0;
  top: 400px;
}

/*espacio*/