.parrafo1 {
  font-size: 20px;
 text-align: justify;
}

.opcion {
  color: rgb(112, 102, 102);
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.li1, .li2, .li3, .li4, .li5 {
  font-family: fantasy;
}

.titulo1, .titulo2, .titulo3, .titulo5 {
  font-family: "Bangers", serif;
  text-align: center;
}

.titulo1 {
  font-size: 7rem;
}

.titulo2 {
  font-size: 5rem;
}

.titulo3 {
  font-size: clamp(40px, 10vw, 100px);
}

.titulo5 {
  font-size: 6vw;
  color: #222;
  font-family: "Bangers", cursive;
}

.tivision {
  text-align: center;

  h2 {
    font-family: "Bangers", serif;
    font-size: 4rem;
    background: #646262;
    display: inline-block;
    padding: 0.2em 0.6em;
    margin-top: 30px;
    border-radius: 32px;
  }
}

.h3sb {
  font-family: fantasy;
}


/*espacio comoponentes(archivo que se llama botAnima)*/